{% extends "base.html" %}

{% block css_links %}
{% endblock %}

{% block main %}
<div class="container">
  <h3 class="text-center">Moje notatki</h3>

  <section class="d-flex flex-wrap">

    <article class="card text-white bg-secondary my-3 mx-2" style="width: 20rem">
      <div class="card-header">Praca</div>
      <div class="card-body">
        <h4 class="card-title">Wiedźmin potrzebny</h4>
        <p class="card-text">
          Kapłan Wiecznego Ognia Wielebny zleca zabicie 3 utopców i przyniesienie ich mózgów.
        </p>
      </div>
    </article>

    <article class="card text-white bg-success my-3 mx-2" style="width: 20rem;">
      <div class="card-header">Zaproszenie</div>
      <div class="card-body">
        <h4 class="card-title">Wszyscy mile widziani</h4>
        <p class="card-text">
          Już niedługo odbędzie się ślub mojej córki. Wszyscy goście są mile widziani. Im nas więcej tym weselej.
        </p>
      </div>
    </article>

    <article class="card text-white bg-success my-3 mx-2" style="width: 20rem;">
      <div class="card-header">Zaproszenie</div>
      <div class="card-body">
        <h4 class="card-title">Wszyscy mile widziani</h4>
        <p class="card-text">
          Już niedługo odbędzie się ślub mojej córki. Wszyscy goście są mile widziani. Im nas więcej tym weselej.
        </p>
      </div>
    </article>

    <article class="card text-white bg-success my-3 mx-2" style="width: 20rem;">
      <div class="card-header">Zaproszenie</div>
      <div class="card-body">
        <h4 class="card-title">Wszyscy mile widziani</h4>
        <p class="card-text">
          Już niedługo odbędzie się ślub mojej córki. Wszyscy goście są mile widziani. Im nas więcej tym weselej.
        </p>
      </div>
    </article>


  </section>

</div>
{% endblock %}

{% block js %}
{% endblock %}